<p id="notice"><%= notice %></p>

<h1>Listing Carees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Event count</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carees.each do |caree| %>
      <tr>
        <td><%= caree.name %></td>
        <td><%= caree.age %></td>
        <td><%= caree.event_ids.size %></td>
        <td><a href="<%= caree.icon %>">CLICK</a></td>
        <td><%= link_to 'Show', caree %></td>
        <td><%= link_to 'Edit', edit_caree_path(caree) %></td>
        <td><%= link_to 'Destroy', caree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caree', new_caree_path %>
